@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  font-size: calc(60% + 0.8vmin);
}

body {
  background-image: url(./images/world-map.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(12px);
}

#root {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

button {
  padding: 0;
}
